.arrow{

    font-size: 2rem;
    animation: UpDown 1s ease-in-out infinite alternate;
}

@keyframes UpDown {
    from{
        transform: translateY(8px);
    }
    to{
        transform: translateY(0);
    }
}